/build/
/heirloom-project/
/heirloom-project.orig/
/install-root/
/pkgbuild/kernel
/pkgbuild/*-*
/spool/S5LX*
/src/*.gz
/src/*-*
/images/rootfs.ext4
/images/rootfs.ext4.gz
/images/ISO-ROOT/
/images/*.iso
/kernel/bzImage
/qemu-disks/*
/packages/*.pkg
/src/build
/src/pkgbuild
/configs/etc/passwd
/configs/etc/group
/configs/etc/shadow
/issue.tmp
